@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');








startupwala-featured-in-container
  {
    display: block;
    padding-right: 32px;
    padding-left: 32px;
    background-color:yelLOW;
  }

  startupwala-featured-in-elements
  { 
    height: 52px;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-around;
    white-space: nowrap;
    overflow-x: auto;
  }
  startupwala-featured-in-elements div
  {
      display: flex;
      justify-content: start;
  }
  startupwala-featured-in-elements p
  {
    color:black;
    margin-top: 10px;
    font-size: 13px;

  }

  #startupwala-featured-in-elements img
  {
    height: 16px;
    margin-top: 15px;
  }

  #economics-times-icon
  {
  margin-left: -20px;
  }

  @media screen and (max-width: 1000px)
  {
    startupwala-featured-in-elements img
    {
      height: 13px;
      margin-top: 18px;
    }
    startupwala-featured-in-elements p
    {
      margin-top: 2px;
      font-size: 13px;
    }
    
  }
 